.pagination > li > a,
.pagination > li > span {
  color: @color1 !important;
  border: 1px solid lighten(@color1,45%) !important;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: lighten(@color1,100%) !important;
  background-color: @color1 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: lighten(@color1,100%) !important;
  background-color: @color1 !important;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {}

/* pager
***************/
.pager li > a,
.pager li > span {
  color: @color1 !important;
  border: 1px solid lighten(@color1,45%) !important;
}
.pager li > a:hover,
.pager li > a:focus {
  color: lighten(@color1,100%) !important;
  background-color: @color1 !important;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {}