// All variables assinged to current theme

@color1: #f5f5f5;
@color2: #d6d6d6;
@color3: #535353;
@color4: #464646;
@color5: #262626;

/* Colorize Grid
**************************/
.left-right-colors{}
.top-colors{}
.header-colors{}
.menu-colors{}
.breadcrumb-colors{}
.slideshow-colors{}
.showcase-colors{}
.feature-colors{}
.utility-colors{}
.scroller-colors{}
.extension-colors{}
.bottom-colors{}
.footer-colors{}
.DiligentCreators-colors{}

// All mixin assigned to current theme